<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'home-banner.jpg' %> ); position:relative;">
  <div class="container">
    <div class="home-banner-title">Unleash your beauty</div>
    <p>Learn and shop with <b>moocoo</b><br>
    Because <i>your face</i> is <i>everything</i></p>
    <div class="my-4">
      <p>Get started!</p>
      <p class="text-center"><%= link_to "Discover tutorials", videos_path, class: "btn btn-cart mt-2" %>
      <%= link_to "Discover products", products_path, class: "btn btn-cart mt-2" %></p>
    </div>
  </div>
</div>
<%= render partial: "home_second_banner",
  locals: {
    banner_image: 'f1.jpg',
    banner_title: 'Popular Make-up Tutorials',
    banner_description: 'Specially curated for you',
    button_title: 'Discover Tutorials',
    button_path: videos_path
  }
%>
<%= render partial: "home_second_banner",
  locals: {
    banner_image: 'm10.jpg',
    banner_title: 'Cult Favourite Products',
    banner_description: 'Made available just for you',
    button_title: 'Discover Products',
    button_path: products_path
  }
%>
<%= render partial: "home_second_banner",
  locals: {
    banner_image: 'm11.jpg',
    banner_title: 'Latest Articles',
    banner_description: 'The latest on your beauty journey',
    button_title: 'Discover Articles',
    button_path: articles_path
  }
%>
<%= render partial: "home_second_banner",
  locals: {
    banner_image: 'm3.jpg',
    banner_title: 'Got Questions?',
    banner_description: 'We\'ve got your back!',
    button_title: 'Discover Forums',
    button_path: forums_path
  }
%>
